<div class="list-group">
  <% (events + deadlines).sort_by(&:start_date).each do |item| %>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= item.title %></h5>
        <small><%= item.formatted_date %></small>
      </div>
      <p class="mb-1"><%= item.details %></p>
      <small><%= item.deadline? ? "Deadline" : "Event" %></small>
    </a>
  <% end %>
</div>
