<div class="container text-center py-5">
  <h1 class="display-1">404</h1>
  <p class="lead">The page you were looking for doesn't exist.</p>
  <%= link_to 'Go to Homepage', root_path, class: 'btn btn-primary' %>
</div>
