// Hover Effects
.btn, .list-group-item-action {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
}

// Loading States
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background: rgba(255, 255, 255, 0.2);
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
