/* Mobile-specific styles */

.hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .navbar-nav {
    padding: 0.5rem 1rem;
    .nav-link {
      font-size: 0.9rem;
    }
    .admin-link .btn {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 767.98px) {
  .table-responsive {
    font-size: 0.8rem;
  }

  .table th,
  .table td {
    padding: 0.4rem;
  }

  .main-container {
    padding: 0.8rem;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 575.98px) {
  .btn {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }

  .main-container {
    padding: 0.4rem;
  }

  h1 {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  .fs-5 {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .card {
    width: 100% !important;
  }
}

.mobile-actions {
  position: relative;
  display: inline-block;
}

.mobile-actions-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
}

.mobile-actions-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.mobile-actions-dropdown a:hover {
  background-color: #f1f1f1;
}

.mobile-actions[open] .mobile-actions-dropdown {
  display: block;
}
